<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.hello">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="完整版教程"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="mbOsw4RF9lHjCO0TdIhvUg3LNm9OGXd3" />
        <service
            android:name="com.baidu.trace.LBSTraceService"
            android:enabled="true"
            android:process=":remote">
        </service>

        <activity
            android:name=".MainActivity"
            android:label="完整教程"
            android:logo="@drawable/icon"
            android:theme="@style/Base.Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test" />
        <activity android:name=".Buttontext" />
        <activity android:name=".EditText" />
        <activity android:name=".RadioActivity" />
        <activity android:name=".CheckBox" />
        <activity android:name=".ImageViewActivity" />
        <activity android:name=".listview.ListViewActivity" />
        <activity android:name=".GridView.GridViewActivity" />
        <activity android:name=".RecyclerView.RecylerViewActivity" />
        <activity android:name=".RecyclerView.LinearRecyclerViewActivity" />
        <activity android:name=".RecyclerView.HorRecyclerViewActivity" />
        <activity android:name=".RecyclerView.GridRecyclerViewActivity" />
        <activity android:name=".RecyclerView.PuRecyclerViewActivity" />
        <activity android:name=".WebView.WebViewMainActivity" />
        <activity android:name=".ToastActivity" />
        <activity android:name=".AlertDialogActivity" />
        <activity android:name=".DialogActivity" />
        <activity android:name=".PopupActivity" />
        <activity
            android:name=".jump.JumpActivity"
            android:label="1" />
        <activity
            android:name=".jump.Jump2Activity"
            android:label="2">
            <intent-filter>
                <action android:name="com.test" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragment.FragmentActivity" />
        <activity android:name=".TouchActivity.TouchActivity" />
        <activity android:name=".MySQLActivity" />
        <activity android:name=".Bluetooth.Bluetooth" />
        <activity android:name=".HandlerActivity" />
        <activity android:name=".FrameLayoutActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RatingActivity" />
        <activity android:name=".IntentActivity" />
        <activity android:name=".MyViewActivity" />
        <activity android:name=".StoreActivity" />
        <activity android:name=".Service.ServiceActivity" />

        <service
            android:name=".Service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".paint.PrintActivity" />
        <activity android:name=".Sensor.LocationActivity" />
        <activity android:name=".Sensor.SeneorActivity" />
        <activity android:name=".Sensor.LightActivity" />
        <activity android:name=".Sensor.MagneticActivity" />
        <activity android:name=".Sensor.SpeedActivity" />
        <activity android:name=".Sensor.OrientationActivity" />
        <activity
            android:name=".MapSDKActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".ActionBarActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".NoticeActivity" />
        <activity android:name=".ToolBarActivity"
            android:label="这是ToolBar"
            android:theme="@style/ToolBarTheme"></activity>
    </application>

</manifest>